<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.prongbang.localization">

	<application>
		<activity
			android:name=".PrepareActivity"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
	</application>
</manifest>
